/* I was advised to add this .cards selector but I don't know how to
apply it to index.html*/
.cards {
  padding: 15px 0 36px;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-gap: 20px 17px;
}

@media screen and (max-width: 620px) {
  .cards {
    padding: 15px 20px 18px;
  }
}
