.header {
  min-height: 120px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
}

h1 h2 {
  font-family: "Inter";
  font-weight: 900;
}

. @media screen and (max-width: 620px) {
  .header {
    min-height: 85px;
    padding-left: 25px;
    margin: 0 0 10px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }
}
