.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  display: flex;
  display: none;
  transition: visibility 0.3s;
  opacity: 0.3s ease-in;
}

.modal_opened {
  display: flex;
  margin: 0;
  transition: visibility 0.3s;
  opacity: 0.3s ease-in;
  visibility: visible;
  opacity: 1;
}

.modal__heading {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 54px;
  color: #000;
}

.modal__field {
  display: flex;
  justify-content: center;
  margin-top: 29.74px;
  width: 100%;
  height: 27.26px;
  line-height: 100%;
  font-size: 14px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__button {
  width: 100%;
  height: 50.15px;
  border-radius: 2px;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  border: 0;
  margin-top: 28px;
  background-color: #000;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #fff;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__container {
  margin: auto;
  position: relative;
  width: 430px;
  padding: 36px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
}

.modal__close {
  border: none;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  background-image: url("../images/Close-Icon.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__caption {
  vertical-align: text-bottom;
}

.modal__container_div {
  margin: auto;
  position: relative;
  max-width: 75vw;
  max-height: 75vh;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 10px;
}

.modal__image_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal__error {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  opacity: 0;
  top: calc(100% + 5px);
  left: 0;
  transition: opacity 0.3s;
}

.modal__error_visible {
  opacity: 1;
}

.modal__button_disabled {
  background-color: #ffffff;
  color: #000;
  cursor: not-allowed;
  box-shadow: 0px 0px 25px 0px #00000026;
}

@media screen and (max-width: 620px) {
  .modal__close {
    width: 26px;
    height: 26px;
    left: 260px;
  }
  .modal__container {
    width: 282px;
    padding: 25px 22px;
  }

  .modal__heading {
    font-size: 18px;
  }
}
