.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.page__section {
  max-width: 880px;
  position: relative;
  margin: 0 auto;
}

.page__content {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 880px) {
  .page__section {
    margin: 0 auto;
    max-width: 100%;
  }
}
